<div id="login-box" class="col-md-4 h-80px d-flex justify-content-center d-flex align-items-md-center">
  <div id="login-image">
    <img src="../../static/image/user Copy.png" alt="" height=auto width=auto>
  </div>
  <div id="login-text-box">
    <a id='login-text' class="text-12px nav-link active text-white" href="#" data-toggle="modal" data-target="#login-form">login</a>
    {% include 'homepage/login-form.html'%}
  </div>
</div>
<div id="signup-box" class="col-md-4 h-80px d-flex justify-content-center d-flex align-items-md-center">
  <div id='signup-image'>
    <img src="../../static/image/edit.png" alt="" height=auto width=auto>
  </div>
  <div id='signup-text-box'>
    <a id='signup-text' class="text-12px nav-link active text-white" href="#" data-toggle="modal" data-target="#register-form">sign up</a>
    {% include 'homepage/register-form.html'%}
  </div>
</div>
