<div class="col-md-12 h-300px d-flex">
  <div class="col-md-6 h-300px ">
    <div class="h-80px col-md-12 d-flex justify-content-center d-flex align-items-md-center">
      <img class='label-image-bottom' src="../static/image/Youtube.png" alt="" height=auto width=auto>
      <img class='label-image-bottom' src="../static/image/Soundcloud.png" alt="" height=auto width=auto>
      <img class='label-image-bottom' src="../static/image/Vimeo.png" alt="" height=auto width=auto>
      <img class='label-image-bottom' src="../static/image/Dailymotion.png" alt="" height=auto width=auto>
      <img class='label-image-bottom' src="../static/image/Cx_live.png" alt="" height=auto width="auto">
    </div>
    <div class="h-240px col-md-12 ">
      <h4 class='text-blue1'>Up Comming!</h4>
      <div id='wait-room-contain' class="h-220px col-md-12">
        <div id='wait-room' class="h-44px border-top border-bottom border-primary d-flex justify-content-between">
          <div id='room-list-content' class="col-md-10 d-flex align-items-md-center">
            <img class="row-md-100 room-content" src="http://placehold.it/100x100" alt="" height=auto width='39'>
            <div id='number-box' class=" h-44px room-content d-flex align-items-md-center">
              <span id='number-inside'>1</span>
            </div>
            <a href="#" class="text-primary room-content" style="text-decoration:none">+</a>
            <div class="h-44px room-content d-flex align-items-md-center">
              <span class='long-word-solve h-24px text-blue1'>song name</span>
            </div>
          </div>
          <div class="col-md-1 h-100">
            <img src="../../static/image/Cx_live.png" alt="" height=auto width='30' >
          </div>
        </div>
        <div id='play-room' class="h-44px bg-primary d-flex justify-content-between">
          <div id='room-list-content' class="col-md-10 d-flex align-items-md-center">
            <img class="h-100 room-content" src="http://placehold.it/100x100" alt="" height=auto width='39'>
            <img id='volume-detect' class="room-content" src="../../static/image/bubble_sound.png" alt="" height=auto width=auto>
            <a href="#" class="text-white room-content" style="text-decoration:none">+</a>
            <div class="h-44px room-content d-flex align-items-md-center">
              <span class='long-word-solve h-24px text-white'>song name</span>
            </div>
          </div>
          <div class="col-md-1 h-100">
            <img src="../static/image/Vimeo.png" alt="" height=auto width='16'>
          </div>
        </div>
        <div id='wait-room' class="h-44px border-top border-bottom border-primary d-flex justify-content-between">
          <div id='room-list-content' class="col-md-10 d-flex align-items-md-center">
            <img class="row-md-100 room-content" src="http://placehold.it/100x100" alt="" height=auto width='39'>
            <div id='number-box' class=" h-44px room-content d-flex align-items-md-center">
              <span id='number-inside'>1</span>
            </div>
            <a href="#" class="text-primary room-content" style="text-decoration:none">+</a>
            <div class="h-44px room-content d-flex align-items-md-center">
              <span class='long-word-solve h-24px text-blue1'>song name</span>
            </div>
          </div>
          <div class="col-md-1 h-100">
            <img src="../static/image/Dailymotion.png" alt="" height=auto width='17' >
          </div>
        </div>
        <div id='wait-room' class="h-44px border-top border-bottom border-primary d-flex justify-content-between">
          <div id='room-list-content' class="col-md-10 d-flex align-items-md-center">
            <img class="row-md-100 room-content" src="http://placehold.it/100x100" alt="" height=auto width='39'>
            <div id='number-box' class=" h-44px room-content d-flex align-items-md-center">
              <span id='number-inside'>1</span>
            </div>
            <a href="#" class="text-primary room-content" style="text-decoration:none">+</a>
            <div class="h-44px room-content d-flex align-items-md-center">
              <span class='long-word-solve h-24px text-blue1'>song name</span>
            </div>
          </div>
          <div class="col-md-1 h-100">
            <img src="../static/image/Soundcloud.png" alt="" height=auto width='16' >
          </div>
        </div>
        <div id='wait-room' class="h-44px border-top border-bottom border-primary d-flex justify-content-between">
          <div id='room-list-content' class="col-md-10 d-flex align-items-md-center">
            <img class="row-md-100 room-content" src="http://placehold.it/100x100" alt="" height=auto width='39'>
            <div id='number-box' class=" h-44px room-content d-flex align-items-md-center">
              <span id='number-inside'>1</span>
            </div>
            <a href="#" class="text-primary room-content" style="text-decoration:none">+</a>
            <div class="h-44px room-content d-flex align-items-md-center">
              <span class='long-word-solve h-24px text-blue1'>song name</span>
            </div>
          </div>
          <div class="col-md-1 h-100">
            <img src="../static/image/Youtube.png" alt="" height=auto width='16' >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 h-300px">
    <div id='livetream-contain' class="">
      <h5 class="text-blue1">LIVE FROM YOUR DESKTOP</h5>
      <br>
      <form class="" action="index.html" method="post">
        <label for="inputAddress" class='text-blue1'>RMTP URL:</label>
        <div class="input-group col-md-10">
          <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <br>
        <label for="inputAddress" class='text-blue1'>STREAM KEY:</label>
        <div class="input-group col-md-10">
          <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-primary d-flex align-items-md-center" type="submit">
              <img id='double-up-image' src="../../static/image/angle-double-up.png" alt="" height="auto" width="16">
              <span>Go stream</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
