<div class="h-80px w-100 d-flex justify-content-center d-flex align-items-md-center">
  {% if 'loggedin' in session%}
    <a id='cr-room-btn' class=" btn-cyan col-md-4 h-70px" href="{{url_for('roomcreate')}}" style="text-decoration:none" method='get' role="button">
      <h2 id='cr-room-text'>Create your room</h2>
    </a>
    <a id="yr-room-btn" class="btn-cyan col-md-4 h-70px" href="{{url_for('roomlist')}}" style="text-decoration:none" role="button">
      <h2 id='yr-room-text'>Your rooms list</h2>
    </a>
  {% else %}
    <a id='cr-room-btn' class=" btn-cyan col-md-4 h-70px" href="#" data-toggle="modal" data-target="#login-form" style="text-decoration:none" method='get' role="button">
      <h2 id='cr-room-text'>Create your room</h2>
    </a>
    <a id="yr-room-btn" class="btn-cyan col-md-4 h-70px" href="#" data-toggle="modal" data-target="#login-form" style="text-decoration:none" role="button">
      <h2 id='yr-room-text'>Your rooms list</h2>
    </a>
  {% endif %}
</div>
