<nav class="nav w-100 d-flex justify-content-between d-flex align-items-md-center">
  <div class="col-md-1 h-80px d-flex align-items-md-center">
    <img src="../../static/image/Logo_top.png" alt="" usemap="#link" width=auto height=auto>
    <map name="link">
      <area shape="rect" coords="0,0,100,100" alt="" href="{{url_for('index')}}">
    </map>
  </div>
  <div class="col-md-6 h-60px d-flex align-items-md-center d-flex justify-content-center">
    <h1 id='heading-title' class='text-center text-cyan'>Let's chat and watch together!</h1>
  </div>
  <div id='sign-tab' class="col-md-4 h-80px d-flex justify-content-md-end">
    {% if "loggedin" in session%}
    {% include 'homepage/after-login.html'%}
    {% else %}
    {% include 'homepage/before-login.html'%}
    {% endif %}
  </div>
</nav>
<div class="bg-slide w-100 h-2px"></div>
