<nav class="nav h-30px bg-blue1 d-flex justify-content-between d-flex align-items-md-center">
  <div class="h-20px col-md-1 d-flex justify-content-between d-flex align-items-md-center">
    <div class='h-20px' >
      <img id='logo-bottom' src="../../static/image/Logo.png" alt="" height=auto width=auto>
    </div>
    <div class="h-10px">
      <h6 class="micro-text text-white">Chatxiec.com</h6>
    </div>
  </div>
  <div id='Copyright' class="h-10px d-flex align-items-md-center">
    <img id='copyright-image' src="../../static/image/copyright.png" alt="" width="16" height="16">
    <div class="h-12px">
      <h6 class="micro-text text-white">Copyright,2018</h6>
    </div>
  </div>
</nav>
