<div class="col-md-12 h-100px d-flex">
  <div class="col-md-6 h-100px ">
    <label for="inputAddress" class='text-blue1'>ADD VIDEO</label>
    <form class="" action="index.html" method="post">
      <div class="input-group col-md-10">
        <input type="text" class="form-control" placeholder="Add Your's Video Link" aria-label="Add Your's Video Link" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">+ add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 h-100px d-flex justify-content-center d-flex flex-wrap ">
    <div id='number-count' class="col-md-3 h-30px bg-green1 message-border text-center">
      <h5 class='text-white'>1024 Users</h5>
    </div>
    <div id='avatar-count-contain' class="col-md-12 h-70px d-flex align-items-md-center">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
    </div>
  </div>
</div>
