<div class="col-md-12 h-40px d-flex justify-content-center d-flex align-items-md-end">
  <div class="bg-slide1 col-md-11 h-5px rounded"></div>
</div>
<div id='room-contain' class="w-100 d-flex justify-content-around d-flex flex-wrap ">
  {% for room in room_data%}
      <div class="card w-26 h-500px room">
        <img class="card-img-top" src="../../static/image/upload_image/{{room['image']}}" alt="Card image cap" width="26%" height="280">
        <div class="card-body">
          <p class="card-text">{{room['title']}}</p>
          <div class="w-100 h-30px d-flex justify-content-between">
            <div class="col-md-4 h-20px ">
              {% if 'loggedin' in session %}
                <a href="{{url_for('room_detail',roomid= room['id'])}}">Join now!</a>
              {% else %}
                <a href="#" data-toggle="modal" data-target="#login-form">Join now!</a>
              {% endif %}
            </div>
            <div class="col-md-4 h-30px d-flex justify-content-between d-flex align-items-md-center">
              <div id='heart-image' class="h-30px">
                <img src="../../static/image/heart-o - anticon.png" alt="" width=auto height=auto>
              </div>
              <div id='like-count' class="h-20px">
                <h6>24,334</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
</div>
