<div class="col-md-12 h-80px d-flex justify-content-center d-flex align-items-md-end">
  <h1 id='your-room-list-text' class="text-center text-blue1">Your room list</h1>
</div>
<div class="col-md-12 h-20px d-flex justify-content-center d-flex align-items-md-end">
  <div class="bg-blue1 col-md-11 h-5px rounded"></div>
</div>
<div id='room-contain' class="w-100 d-flex justify-content-around d-flex flex-wrap ">
  {% for room in room_list%}
  <!-- card-1 -->
      <div class="card w-26 h-500px room">
        <img class="card-img-top" src="../../static/image/upload_image/{{room['image']}}" alt="Card image cap" width="26%" height="280">
        <div class="card-body">
          <p class="card-text">{{room['title']}}</p>
          <div class="w-100 h-30px d-flex justify-content-between">
            <div class="col-md-4 h-20px ">
              <a href="{{url_for('roomhost',roomid = room['id'])}},">Join now!</a>
            </div>
            <div class="col-md-4 h-30px d-flex justify-content-between d-flex align-items-md-center">
              <div id='heart-image' class="h-30px">
                <img src="../../static/image/heart-o - anticon.png" alt="" width=auto height=auto>
              </div>
              <div id='like-count' class="h-20px">
                <h6>{{room['viewer']}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor%}
</div>
