<div class="col-md-12 d-flex justify-content-end ">
  <div id='avatar-count-contain-small' class="col-md-6 h-50px d-flex align-items-md-center">
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
    <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width='30' height=auto >
  </div>
</div>
