<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">



    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title> Create room </title>
  </head>
  <body class="body">
    <div class="container d-flex">
      <div class="col-sm-2 d-inline-block content">
        <a href="#"><img src="../static/image/Logo_top.png" alt="logo-top"></a>
      </div>
      <div class="col-sm-3 d-inline-block content">
        Let's chat and watch together!
      </div>
      <div class="col-sm-7 d-inline-block content">
        <img src="../static/image/Rectangle Copy.png" alt="rectangle">
      </div>
    </div>
  </body>
</html>
