<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat Xiec - Chát và xem</title>
    {% include 'meta-data.html'%}
  </head>
  <body>
    <div id='tokuda-bg' class="d-flex justify-content-center d-flex align-items-md-center">
      <div class="">
        <h2 id='text-exception' class="text-warning">chức năng sẽ có trong bản cập nhật tiếp theo !</h2>
      </div>
      <img src="../static/image/exception.png" alt="" height="auto" width=auto>
    </div>
  </body>
</html>
