<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>
  <body>
    <h1>login</h1>
    <form method="post">
      <label>username</label>
      <input type="text" name="username" value="">
      <br>
      <label>password</label>
      <input type="text" name="password" value="">
      <br>
      <input type="submit" name="" value="login">
      <br>
      <a href="{{url_for('register')}}">register here!</a>
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <h5>{{message}}</h5>
        {% endfor %}
      {% endwith %}
    </form>
  </body>
</html> -->
