<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>register</title>
  </head>
  <body>
    <h1>register form</h1>
    <form method="post">
      <label>fullname</label>
      <input type="text" name="fullname" value="">
      <br>
      <label>username</label>
      <input type="text" name="username" value="">
      <br>
      <label>password</label>
      <input type="text" name="password" value="">
      <br>
      <label>email</label>
      <input type="text" name="email" value="">
      <br>
      <label>phonenumber</label>
      <input type="text" name="phonenumber" value="">
      <br>
      <input type="submit" name="" value="register">
      <br>
      <a href="#">login</a>
    </form>
  </body>
</html>
