<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>upload</title>
  </head>
  <body>
    <h1>upload form</h1>
    <form method="post" enctype="multipart/form-data">
      <label>userid</label>
      <input type="text" name="userid" value="">
      <br>
      <label>title</label>
      <input type="text" name="title" value="">
      <br>
      <label>description</label>
      <input type="text" name="description" value="">
      <br>
      <label>password</label>
      <input type="text" name="password" value="">
      <br>
      <label>image</label>
      <input type="file" name="image" value="">
      <br>
      <input type="submit" name="" value="create room">
    </form>
  </body>
</html>
